
:root {

  --whiteText: #fff;
  --textColor: #640c8d;
  --borderSearch: #fb5fe6;
  --borderHoverSearch: #fbde5f;

  --borderListElements: #b225e0;
  --colorListElements: #00fefe;
  --colorListElementsHover: #00fe4c;

  --gradientBg1: #85d4ff;
  --gradientBg2: #b6abfd;
  --gradientBg3: #e683fc;
}

input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  width: 360px;
  height: 50px;
  border-radius: 13px;
  border: 3px solid var(--borderSearch);
}

input:focus {
  outline: none;
  color: var(--textColor);
}

::placeholder {
  color: var(--textColor);
}

.student-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 3px solid var(--borderListElements);

  width: calc(33.3% - 63px);
  
  /*background: linear-gradient(
    280deg,
    var(--gradientBg1) 0%,
    var(--gradientBg2) 44%,
    var(--gradientBg3) 100%
  );*/
  padding: 15px;   
}

/*.student-item:hover {
  transition: background-color 500ms linear;
  background: var(--colorListElementsHover);
  cursor: pointer;
}*/

a {
  text-decoration: none;
  color: var(--textColor);
}

a:hover{
  color: var(--whiteText);
}

/*Students-list Container Aviv's issue*/
.students-container {
  max-width: 1170px;
  margin: 80px auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  
}
.social-nav {
  width: 100%;
  display: flex;  
  justify-content: space-evenly;
}
.student-img {
  height: 100px;
  width: 100px;
  border: 3px solid var(--borderListElements);
  border-radius: 50%;
  object-fit: cover;
}

.students-list {
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  gap: 40px;
  padding-block: 30px; 
}