body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.portfolio-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

img {
    width: 150px;
    border-radius: 50%;
    box-shadow: #27272760 0px 0px 20px;
}