header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header h1{
    font-family: "Lato", sans-serif;
}

header div{
    height: 80px;
    width: 80px;
    background: rgb(131,123,217);
    background: radial-gradient(circle, rgba(131,123,217,1) 0%, rgba(85,85,179,1) 35%, rgba(104,186,201,1) 100%);
    border-radius: 50%;
}